html, body {
    height: 100%;
    width: 100%;
}

.hero1 {
    height: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/1200px-Smiley.svg.png");
    background-color: lightblue;
}